body
{
    text-align: center;
    color: rgb(35, 31, 44);
    font-family: Arial ;
    font-size: 20;
    margin: 0;
    padding: 0;
}


#container
{
    width: 60%;
    padding: 1em;
    text-align: left;
    border: 1px solid;
    margin: 0 auto;
}

#container h1
{
    font-family: serif;
    color: rgb(36, 40, 48);
    font-size: 40px;
}